@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    font-family: 'inter';
}

#logo {
    margin-left: 50px;
    margin-top: 50px;
}

#titulo-menusuperior {
    margin-left: 150px;
    margin-top: 50px;
}

#texto-menusuperior {
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}

#menusuperior {
    background-image: url(images/fundo-menu-superior.svg);
    color: aliceblue;
}

#menuinformacional {
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
}

.icone {
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

#secaovideo {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoinformativo {
    display: flex;
    align-items: center;
}

#titulovideo {
    color: #247BA0;
    margin-top: 50px;
}

#video {
    margin: 50px 25px 50px 100px;
    border-radius: 5px;
}

#carrossel {
    background-color: #247BA0;
    padding: 50px;
}

#titulocarrossel {
    color: white;
    text-align: center;
    font-size: 26px;
    margin-bottom: 50px;
}

#div-cards {
    display: grid;
    grid-auto-flow: column;
}

.card {
    margin-left: 50px;
}

#seta-esquerda,
#bruna {
    display: none;
}

.seta {
    margin-top: 40%;
    cursor: pointer;
}

.seta:hover {
    transform: translateX(-7px);
    transition-duration: 0.5s;
}

#formulario {
    text-align: center;
}

#titulo-formulario {
    color: #383838;
    font-size: 26px;
    margin: 25px;
}

input {
    border: 0px;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    background-color: #EAECE5;
    margin: 10px;
    padding: 10px;
}

button {
    margin: 10px;
    border: 0px;
    background-color: #247BA0;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    color: #FFFFFF;
    margin-bottom: 50px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #318fb8;
    color:white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #05103081;
    transition-duration: 0.5s;
}
